<h5 class="month">
  <%= link_to "<", date: @date.prev_month %>
  <%= @date.strftime("%B %Y") %>
  <%= link_to ">", date: @date.next_month %>
</h5>
<%= calendar @date do |date| %>
    <%= link_to date.day, day_tasks_path(date), class: "day" %>
<% end %>